{% extends "layout.html" %}

{% block title %}
    Layout
{% endblock %}

{% block main %}
  <body>
    <div class="partofgroup">
        <h1><font size="+15">Be part of your own group now!</fontsize></h1>
    </div>
    <div class="laptop">
      <img src="{{url_for('static', filename='laptop.png')}}">
    </div>

<div>
<button href="{{ url_for('register') }}" type="button" class="btn btn-outline-secondary" style="font-family: Rubik Mono One"><font size="+6">Register</fontsize></button>
</div>
  </body>

{% endblock %}


