@import url('https://fonts.google.com/specimen/Rubik+Mono+One?selection.family=Rubik+Mono+One');


body, html {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    background-image: url(/static/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

.dropdown:hover> .dropdown-menu {
    display: block;
    }

.logo {
    height: 45px;
    width: 80px;
    }

.navbarSupportedContent {
    color: red;
    }

.partofgroup {
    /* Be part of your own group now! */
position: relative;
width: 1073px;
height: 309px;
left: 80px;
top: 376px;

font-family: 'Rubik Mono One';
font-style: normal;
font-weight: normal;
font-size: 73px;

color: white;
}

.laptop {
    /* Component */

position: relative;
width: 50%;
height: 50%;
left: 1300px;
top: 250px;

}


@font-face { font-family: Rubik Mono One; src: url(/static/RubikMonoOne-Regular.ttf)}
h1, h5 {
    font-family: Rubik Mono One;
    src: url('RubikMonoOne-Regular.ttf');
}

.btn-outline-success {
    color: #ffffff;
    border-color: #fff;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #ed3af9;
    border-color: #ed3af9;
}

.btn-outline-success:click {
    color: #fff;
    background-color: #ed3af9;
    border-color: #ed3af9;
}

.btn-outline-secondary {
    color: #f8f9fa;
    background-color: black;
    border-color: black;
    position: absolute;
    left: 80px;
    top: 550px;
    padding: 10px;
    border-radius: 10px;

}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: white;

}

.invulveld {
    color: black;
    background-color: #fff;
    border-radius: 20px;

}

.bg {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    /*background: url('/background.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
.aboutus {
    color: white;
}

.tekstje {
    position: absolute;
    width: 1073px;
    height: 309px;
    left: 80px;
    top: 475px;
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 73px;
    color: white;
}

.gecentreerd {

  margin-left:auto;
  margin-right:auto;
  display: table;
}