@import url('https://fonts.google.com/specimen/Rubik+Mono+One?selection.family=Rubik+Mono+One');


body, html {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    background-image: url(/static/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    }

.dropdown:hover> .dropdown-menu {
    display: block;
    }

.logo {
    height: 45px;
    width: 80px;
    }

.navbarSupportedContent {
    color: red;
    }

.index {
    /* Be part of your own group now! */
position: relative;
width: 773px;
height: 309px;
left: 5%;
font-family: 'Rubik Mono One';
font-style: normal;
font-weight: normal;
top: 300px;
color: white;
}

.partofgroup {
    /* Be part of your own group now! */
position: relative;
width: 1073px;
height: 309px;
left: 80px;
font-family: 'Rubik Mono One';
font-style: normal;
font-weight: normal;
top: 100px;
color: white;
}

.laptop {
    /* Component */

position: relative;
width: 30%;
height: 30%;
left: 55%;
top: -50px;

}


@font-face { font-family: Rubik Mono One; src: url(/static/RubikMonoOne-Regular.ttf)}
h1 {
    font-family: Rubik Mono One;
    src: url('RubikMonoOne-Regular.ttf');
}

h5 {
    font-family: Rubik Mono One;
    src: url('RubikMonoOne-Regular.ttf');
}

.btn-outline-success {
    color: #ffffff;
    border-color: #fff;
}

.-outline-success:hover {
    color: #fff;
    background-color: white;
    border-color: white;
}

.btn-outline-success:click {
    color: #fff;
    background-color: white;
    border-color: white;
}

.btn-outline-secondary {
    color: white;
    background-color: black;
    border-color: black;
    position: absolute;
    left: 80px;
    top: 150px;
    padding: 10px;
    border-radius: 50px;


}

.btn-outline-secondary:hover {
    color: black;
    background-color: white;
    border-color: white;
    text-decoration: none;


}

.btn-outline-success:not(:disabled):not(.disabled).active:focus, .btn-outline-success:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-success.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(223, 100, 255, 0.5);
}
.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
    color: #fff;
    background-color: purple;
    border-color: purple;
}
.invulveld {
    color: black;
    background-color: #fff;
    border-radius: 20px;

}

.bg {
    min-height: 100%;
    min-width: 100%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat';
    /*background: url('/background.png');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}

.vulinlog
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    background: 4px solid white;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';

}

.vulinlog:hover
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    background: 4px white;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';
    color: black;
    border-radius: 50px;

}

.vulinlogbevestig
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    background: 4px solid black;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';
    color: white;
    border-radius: 50px;

}

.vulinlogbevestig:hover
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    background: 4px solid white;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';
    border-radius: 50px;
    color: black;

}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
.aboutus {
    color: white;
}

.tekstje {
    position: absolute;
    width: 1073px;
    height: 309px;
    left: 80px;
    top: 475px;
    font-family: 'Rubik Mono One';
    font-style: normal;
    font-weight: normal;
    line-height: 25px;
    font-size: 73px;
    color: white;
}

.gecentreerd {

  margin-left:auto;
  margin-right:auto;
  display: table;
}

.floating{
    float: left;
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}
}


.scaling{
    float: left;
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:5s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}

    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}
    }

    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}
    }






.onderschrift {
    border-bottom: black 50px outset;
    border-radius: 10px;
}



.button_view:hover {
  background-color: #4CAF50; /* Green */
}

.button_view2:hover {
  background-color: #f44242; /* Red */
}


.containers {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.containers img {
  width: 100%;
  height: auto;
}

.containers .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containers .btn:hover {
  background-color: black;
}

.containers:hover{
    opacity: 0.7;
}

.view{
    opacity: 0.9;
}

.vulinlogbevestig2
{
    /* center contents */
    margin-right: auto;
    text-align: center;
    background-color: black;
    background: 4px solid black;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';
    color: white;
    border-radius: 50px;

