{% extends "layout.html" %}

{% block title %}
    About us
{% endblock %}

{% block main %}
<div class="aboutus">
    <form action="{{ url_for('aboutus') }}" method="post">
            <div class="partofgroup">
        <h1><font size="+15">About us</fontsize></h1>
</div>

<br>
<br>
    <p>
    <div class="partofgroup2">
        <h5 style="position: relative; width: 573px; height: 309px; left: 80px; top:-300px"><font color="white" size="3">We are a group of hard-working students who put their effort in making <br> a brand new social network, keeping in mind that being part of a group is a big part of life. Even while being part of multiple groups it's important to share your life with the other group members. What would be a better platform than the user-friendly PicUs? <p></p>Sharing pictures or gifs with a group that you're part of, thats what we stand for. The process is simple: create your own account, make a closed group and invite others to join it. Then you can share your images with the others. You can also make an open group, called an event. Everyone with the event link can see pictures of the event. Just try it out yourself for free!</font></h5>
    </div>

    </form>
{% endblock %}


