{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<form action="{{ url_for('eventphoto') }}" method="post" enctype="multipart/form-data">
  <body>
    <div class="gecentreerd">
        <h1 style="width: 300"><font>Post your images here!</fontsize></h1>
    <input id="file-picker" type="file" class="btn-outline-secondary" accept="image/*" style="font-family: Rubik Mono One; border-radius: 10px; top: 500px"><font size="+6">search image</fontsize> </file>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="caption" placeholder="Caption" type="text"/>
    </div>
    </div>
  </body>
</form>
{% endblock %}