{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<form action="{{ url_for('eventfeed') }}" method="post" enctype="multipart/form-data">
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <a href="eventview" type="button" class="btn-outline-secondary" style="font-family: Rubik Mono One; border-radius: 20px; top: 500px"><font size="+6">my events</fontsize></button></a>
    </div>

    <div class="col-md-4 offset-md-4">
        <a href="eventphoto" type="button" class="btn-outline-secondary" style="font-family: Rubik Mono One; border-radius: 20px; top: 500px"><font size="+6">upload image</fontsize></button></a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 offset-md-3">.{{ eventname}}</div>
    <div class="col-md-3 offset-md-3">
        <a type="text" class="btn-outline-secondary" style="font-family: Rubik Mono One; border-radius: 20px; top: 500px"><font size="+6">url</fontsize></button></a>
    </div>
  </div>
  {% for image_name in image_names %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
        <img class="img-responsive" src="{{url_for('send_image', filename=image_name)}}" alt="MaterialImg">
        <div class="form-group">
             <button class="btn btn-default" name="like" type="submit">Like</button>
        </div>
        <div class="form-group">
            <button class="btn btn-default" name="dislike" type="submit">Dislike</button>
        </div>
    </div>
  </div>
</div>
  {% endfor %}







<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>







</form>
{% endblock %}
