{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<script>
  function get_event(pass_to_python) {
        // var pass_to_python = document.getElementById("group").value;
        var url = 'https://ide50-a12216321.legacy.cs50.io:8080/eventphoto?value='+pass_to_python;
        return window.open(url, "_self");
    }
    function like(photo, name)
    {
        var url_like = 'https://ide50-a12216321.legacy.cs50.io:8080/like_photo?value=' +photo + '&q=' +name;
        return window.open(url_like, "_self");
    }
  function render(data) {
    var html = "<div class='comment-box'><div class='rightpanel'<span>"
    $('#commentsection').append(html);
  }
</script>
<p></p>
<h1 class="gecentreerd"style="color:white;font-family:Rubik Mono One"><fontsize="+15">{{ event }}</fontsize></h1>
<link href="https://fonts.googleapis.com/css?family=Rokkitt" rel="stylesheet">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<br>

{% if session.user_id %}
&nbsp;&nbsp;<input class="vulinlogbevestig" style="top:-75px;" type="button" id="event" value="Upload photo" onclick="get_event('{{event}}')"/>
{% else %}
&nbsp;&nbsp;<input class="vulinlogbevestig" style="top:-75px;"  type="button" id="event" value="Upload photo" onclick="url_for('{{register}}')">
{% endif %}

{% for row in list_picture %}
<section class="hero">
         <div class="container">
          <div class="row">

		   <div class="col-lg-6 offset-lg-3">

			<div class="cardbox shadow-lg bg-white">

			 <div class="cardbox-heading">
			  <!-- START dropdown-->
			  <div class="dropdown float-right">
			   <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown" aria-expanded="false">
				<em class="fa fa-ellipsis-h"></em>
			   </button>
			   <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu" style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
				<a class="dropdown-item" href="#">Hide post</a>
				<a class="dropdown-item" href="#">Stop following</a>
				<a class="dropdown-item" href="#">Report</a>
			   </div>
			  </div><!--/ dropdown -->
			  <div class="media m-0">
			   <div class="d-flex mr-3">
			   </div>
			   <div class="media-body">
			    <p class="m-0">{{ row[0] }}</p>
				<small><span><i id = "name" class="icon ion-md-pin"></i> {{ row[2] }}</span></small><br>
				<small><span><i id = "date" class="icon ion-md-time"></i> time </span></small>
			   </div>
			  </div><!--/ media -->
			 </div><!--/ cardbox-heading -->

			 <div class="cardbox-item">
			  <img class="img-fluid" src="{{ row[1] }}" alt="Image">
			 </div><!--/ cardbox-item -->
			 <div class="cardbox-base">
			  <ul class="fa fa-thumbs-up">
			   <li><a><i class="fa fa-comments"></i></a></li>
			   <li><button><a><em id="comments" class="mr-5">aantal comments</em></a></button></li>
			   <li><a><i class="fa fa-thumbs-up"></i></a></li>
			   <li><a><span>likes: {{ row[4] }}</span></a></li>
			  </ul>
			 </div><!--/ cardbox-base -->
			 <div class="cardbox-comments">
			  <span class="comment-avatar float-left">
			  </span>
			  <div class="search">
			   <input placeholder="Write a comment" id="comment-box" type="text">
			   <span><button><i id = "gifsearch"class="fa fa-camera"></i></button> <button><i id="submit-comment"></i> Comment</button></span>

			  </div><!--/. Search -->
			 </div><!--/ cardbox-like -->

			</div><!--/ cardbox -->

        </div><!--/ col-lg-6 -->
		   <!--/ col-lg-3 -->

      </div><!--/ row -->
    </div><!--/ container -->
</section>
<img src="{{ row[1] }}" style ="border: 1px solid #000; max-width:300px; max-height:400px display: block; margin-left: auto; margin-right: auto; text-align: center;"/>
<!--<label for="toggle-1"></label>-->
<h4>{{ row[2] }}</h4>

<div class="form-group">
<input id = "comment" autocomplete="off" autofocus class="form-control" name="comment" placeholder="comment" type="text"/>
<input type = "text" id = "form-value"autocomplete="off" placeholder="search for gif" type="text"/>
<button type="submit" class="search_button"> search </button>
<input type="reset" id="reset_button" value="Reset">
<img id="here_is_gif" src="giphyURL"/>
<form id="like" action="/application.py">
  <button name="like" type="submit">Like</button>
</form>
<form id="dislike" action="/application.py">
  <button name="dislike" type="submit">Dislike</button>
</form>
<div id="commentsection">

</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
      $( document ).ready(function(){

      // Part 1 - Collect User Input Using jQuery Click Listener note we use the class (.) of search_button
      $('.search_button').on('click', function(){

        // Collect user by grabbing the input form's value via id (#)
        var userInput = $('#form-value').val().trim();

        // Change the input to suit the API (ie change spaces to +)
        userInput = userInput.replace(/ /g, "+");

       var queryURL = 'https://api.giphy.com/v1/gifs/search?q=' + userInput + '&api_key=fxVVpisTMf7gev7hUdH22OjTT5Axp7z9';
       //request.open('GET', 'queryURL');

      // Part 2 - Use AJAX to call GIPHY API (note that the .done() function waits for the API to respond)
        $.ajax({url: queryURL, method: 'GET'}).done(function(response){

          // This is the API response data. It's a JSON object of 25 gifs
          console.log(response.data);

          // For simplicity, we will take the first gif (ie. at postion 0)
          var giphyURL = response.data[0].images.fixed_height.url;
          console.log(giphyURL);

          // Now you can pass that into your "here_is_gif" <img> tag using its id (#)
          $('#here_is_gif').attr('src', giphyURL);

        });

        // Part 3 - Clear the Gif using the reset_button id (#)
        $('#reset_button').on('click', function(){
          // Grab the img using the id and change the src to empty to remove the image
          $('#here_is_gif').attr("src",'');
        })


        // If using a jQuery click listner on a Submit button, you need to return false to prevent the default page refresh
        return false;
      })
    });
</script>
{% endfor %}
{% endblock %}