{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<script>
    function get_event(pass_to_python) {
        // var pass_to_python = document.getElementById("group").value;
        var url = 'https://ide50-britt1212.legacy.cs50.io:8080/eventfeed?value='+pass_to_python;
        return window.open(url, "_self");
    }
    </script>

<form id="upload-form" action="{{ url_for('eventphoto') }}" method="POST" enctype="multipart/form-data">
    <body>
    <div class="gecentreerd">
    <h1 style="width: 300; color:white;"><font>Post your images here!</fontsize></h1>
    </div>
     <style>
        input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

       </style>

    <label class="vulinlog">
        <input class="custom-file-upload" type = "file" name = "file" accept="image/*"/>
        <i class="fa fa-cloud-upload"></i> Choose your picture
    </label>

    <div class="form-group">
        <input autocomplete="off" autofocus class="vulinlog" name="caption" placeholder="Place a caption" type="text"/><br>
         <button class="vulinlogbevestig" type="submit" >Upload picture <group></group></button>
         </div>
        <div class="form-group">
                <button class="vulinlogbevestig" type="submit">Back to timeline <group></group></button>
            </div>
    </body>
</form>
<input class="bulinlogbevestig" type="button" id="event" value="Back to timeline!" onclick="get_event('{{ event }}')"/>
<script>

</script>







    <form action="{{ url_for('eventphoto') }}" method="post" enctype = "multipart/form-data" style="font-family:Rubik Mono One;">
        <br>
        <br>
        <div class="container">
        <fieldset>
            <title>Upload your picture</title>
            <h1 style="color:white;">Make a new group</h1>
<label class="vulinlog">
    <input class="custom-file-upload" type = "file" name = "file" accept="image/*"/>
    <i class="fa fa-cloud-upload"></i>Upload your picture
</label>


            <div class="form-group">
                <input class="vulinlog" autocomplete="off" autofocus class="form-control" name="name_group" placeholder="Name your group" type="text"/>
            </div>
                <!--<input type = "submit"/>-->
            <div class="form-group">
                <button class="vulinlogbevestig" type="submit">Back to timeline <group></group></button>
            </div>


     <style>
        input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

       </style>




        </fieldset>
        </div>
    </form>
{% endblock %}