{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<script>
  function get_event(pass_to_python) {
        // var pass_to_python = document.getElementById("group").value;
        var url = 'https://ide50-a12216321.legacy.cs50.io:8080/eventphoto?value='+pass_to_python;
        return window.open(url, "_self");
    }
</script>
  <input type="button" id="event" value="Upload image" onclick="get_event('{{event}}')"/>
  <h2>{{ event }}</h2>
{% for row in list_picture %}
  {{ row[0] }}
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <center>
            <img src="{{ row[1] }}" alt="picture" width="150px" heigth="300px"></img><br>
            <!--<center><input name="user" value="{{ row[2] }}" readonly/></center>-->
            {{ row[2] }}
            </center>
        <div class="form-group">
          <input id = "comment" autocomplete="off" autofocus class="form-control" name="comment" placeholder="comment" type="text"/>
        </div>
      <p>{{ comment }}<br></p>

      <form id="like" action="/application.py">
      <button name="like" type="submit">Like</button>
      </form>
      <form id="dislike" action="/application.py">
      <button name="dislike" type="submit">Dislike</button>
      </form>

    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

