{% extends "layout.html" %}

{% block title %}
    Eventview
{% endblock %}

{% block main %}
<br><br>
<h1 class="gecentreerdtekst" style="font-family: Rubik Mono One; color: white;"><font size="+15">My events</fontsize></h1><br>
<script>
    function get_event(pass_to_python) {
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host;
        var url = baseUrl + '/eventfeed?value=' +pass_to_python;
        return window.open(url, "_self");
    }
</script>
{% for row in list_event_id %}
    <center>
        <form action="/get_event/" method="post">
            <div class="containers">
                <a onclick = "get_event('{{row[0]}}')">
                <img src="{{ row[1] }}" alt="{{ row[0] }}" width="300px" heigth="300px" style="border-radius:50px;">
                <input type="button" class="btn" id="event"  onclick="get_event('{{row[0]}}')" style="font-family: Rubik Mono One; color: white;" value="{{ row[0] }}"></input>
                </a>
            </div>
        </form>
    </center><br>
{% endfor %}
{% endblock %}