{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<script>
    function get_event(pass_to_python) {
        // var pass_to_python = document.getElementById("group").value;
        var url = 'https://ide50-a12216321.legacy.cs50.io:8080/eventfeed?value='+pass_to_python;
        return window.open(url, "_self");
    }
    </script>
<form id="upload-form" action="{{ url_for('eventphoto') }}" method="POST" enctype="multipart/form-data">
    <body>
    <div class="gecentreerd">
    <h1 style="width: 300"><font>Post your images here!</fontsize></h1>
    <strong>Files:</strong><br>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="caption" placeholder="Caption" type="text"/>
        </div>
    <div id="msg"></div>
    <input type="button" id="event" value="Upload image" onclick="get_event('{{event}}')"/>
    </div
    </body>
</form>

<script>

</script>
{% endblock %}