{% extends "layout.html" %}

{% block title %}
    Eventview
{% endblock %}

{% block main %}

   <script>
    function get_event(pass_to_python) {
        // var pass_to_python = document.getElementById("group").value;
        var url = 'https://ide50-gi-no.legacy.cs50.io:8080/eventfeed?value='+pass_to_python;
        return window.open(url, "_self");
    }
    </script>
    <table class="table" border=0>
        {% for row in list_event_id %}
          <tr>
              <td>
              <div class="container">

                  <img src="{{ row[1] }}" alt="{{ row[0] }}" width="150px" heigth = "300px"></img>
                </div>
                 <center>
            <form action="/get_event/" method="post">
                <!--<input type="button" onclick='get_group({{row[0]}})' value="{{ row[0] }}"><br>-->
            <center><input type="button" id="event" value="{{ row[0] }}" onclick="get_event('{{row[0]}}')"/></center>
            </center>
            </form>
                </td>
        {% endfor %}
          </tr>
    </table>
{% endblock %}




