{% extends "layout.html" %}

{% block title %}
    Group view
{% endblock %}

{% block main %}
<br>
<br>
<center> <div class="aboutus">
    <!--<form action="{{ url_for('groupview') }}" method="post">-->
        <a href="{{ url_for('upload_photo') }}">
        <button class="w3-button w3-round">Upload photo</button>
        </a>

        <br>
<br>
<h1><font size="+15">{{ group }}</fontsize></h1>
<br>
<br>


        {% for row in list_picture %}
        {{ row[0] }}
        <!--<input name="user" value="{{ row[0] }}" readonly/>-->
         <center>
                  <img src="{{ row[1] }}" alt="picture" width="150px" heigth="300px"></img><br>
            <!--<center><input name="user" value="{{ row[2] }}" readonly/></center>-->
            {{ row[2] }}
            </center>
            <br>
        {% endfor %}
</center>
    <!--</form>-->
{% endblock %}
