{% extends "layout.html" %}

{% block title %}
    Groupfeed
{% endblock %}

{% block main %}
        {% for row in list_group %}
         &nbsp;&nbsp;
         <center>
              <div >
                <br>
                <br>
                  <p><a href="{{ url_for('addmember') }}">
                  <img src="{{ row[1] }}" alt="{{ row[0] }}" width="150px" heigth="300px"></img>
                  </a>
            <center>{{ row[0] }}</center>
          </center>

            </div>
        {% endfor %}
{% endblock %}
