{% extends "layout.html" %}

{% block title %}
    Group view
{% endblock %}

{% block main %}
<script>
    function get_group(pass_to_python)
    {
        var url = 'https://ide50-britt1212.legacy.cs50.io:8080/upload_photo?value='+pass_to_python;
        return window.open(url, "_self");
    }

    function leave_group(python)
    {
        var url_leave = 'https://ide50-britt1212.legacy.cs50.io:8080/leave_group?value='+python;
        return window.open(url_leave, "_self");
    }

    function like(photo, name)
    {
        var url_like = 'https://ide50-britt1212.legacy.cs50.io:8080/like_photo?value=' +photo + '&q=' +name;
        return window.open(url_like, "_self");
    }

    function dislike(photo, name)
    {
        var url_like = 'https://ide50-britt1212.legacy.cs50.io:8080/dislike_photo?value=' +photo + '&q=' +name;
        return window.open(url_like, "_self");
    }

    function add_group(groupl)
    {
        var url_like = 'https://ide50-britt1212.legacy.cs50.io:8080/add_member?value=' +groupl;
        return window.open(url_like, "_self");
    }

</script>
<br>

<h1 class="gecentreerd"style="color:white;"><font size="+15">{{ group }}</fontsize></h1>
<br>
<br>

&nbsp;&nbsp;<input class="vulinlogbevestig" style="font-size:15px; padding:10px; top:-225px" type="button" id="group" value="Upload photo" onclick="get_group('{{group}}')"/>
<input class="vulinlog" style="font-size:15px; padding:10px; top:-225px"type="button" id="group" value="Leave group" onclick="leave_group('{{group}}')"/>
<input class="vulinlog" style="font-size:15px; padding:10px; top:-225px"type="button" id="group" value="Add member" onclick="add_group('{{group}}')"/>

    {% for row in list_picture %}
        <div style="font-size: 34px; font-family: Rubik Mono One; color: black; background-color:white; padding: 11px; border-top-left-radius: 15px; border-top-right-radius: 15px; left:-300px;" width="1350px" class="gecentreerd">
        <i>{{ row[0] }}</i> : {{ row[2] }}
        </div>

        <center>
                <img src="{{ row[1] }}" alt="picture" width="775px" heigth="1350px"></img><br>
                    <!--<input type="button" id="group" onclick="like('{{row[3]}}', '{{ group}}')" type="image" src="/static/LIKE.png" height="1%" width="1%" alt="img" />-->




        <div style="font-size: 34px; font-family: Rubik Mono One; color: black; background-color:white; padding: 11px; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; left:-300px;" width="1350px" class="gecentreerd">
                            <button onclick="like('{{row[3]}}', '{{ group}}')" id = "group" STYLE="width: 40%; height: 40%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;float:left;"><img src="/static/LIKE.png" height="20%" width="20%" alt="img"></button>
                    <button onclick="dislike('{{row[3]}}', '{{ group}}')" id = "group" STYLE="width: 40%; height: 40%;background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none;float:left;"><img src="/static/DISLIKE.png" height="20%" width="20%" alt="img"></button>
        <i>Likes:</i> : {{ row[4] }}
        </div>



            </center>
        <br>
    {% endfor %}
</center>
{% endblock %}
