{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<style>
    .vulinlogbevestig
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: black;
    background: 4px solid black;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';
    color: white;
    border-radius: 50px;

}

.vulinlogbevestig:hover
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white;
    background: 4px solid white;
    border: none;
    display: inline-block;
    overflow: hidden;
    padding: 0 40px;
    position: relative;
    font-family: 'Rubik Mono One';
    border-radius: 50px;
    color: black;

}

</style>

    <form action="{{ url_for('login') }}" method="post">
        <br>
        <br>
        <div style="font-family: 'Rubik Mono One';" class="container">
        <fieldset>
            <div>
                <input autocomplete="off" autofocus class="vulinlog" name="username" placeholder="Username" type="text"/>
            </div>
            <p></p>
            <div class="form-group">
                <input class="vulinlog" name="password" placeholder="Password" type="password"/>
            </div>
            <div>
                <button class="vulinlogbevestig" type="submit">Log In</button>
            </div>
        </fieldset>
        </div>
    </form>
{% endblock %}
