{% extends "layout.html" %}

{% block title %}
    Make event
{% endblock %}

{% block main %}
<form action="{{ url_for('makeevent') }}" method="post" enctype="multipart/form-data">
<div class="container">
        <fieldset>
            <div class="partofgroup">
            <h1><font size="+15">What is your eventname going to be?</fontsize></h1>
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="makeevent" placeholder="Make Event" type="text"/>
                <br>
                <br>
<title>Upload image</title>
            <h1>Upload image</h1
            <a><h4><input id="file-picker" type="file" name="file" accept="image/*"></h4></a>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Make event</button>
            </div>
        </fieldset>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



</form>

{% endblock %}



