{% extends "layout.html" %}

{% block title %}
    Make group
{% endblock %}

{% block main %}
    <form action="{{ url_for('makegroup') }}" method="post" enctype = "multipart/form-data" style="font-family:Rubik Mono One;">
        <br>
        <br>
        <div class="container">
        <fieldset>
            <title>Upload new File</title>
            <h1 style="color:white;">Make a new group</h1>
                <label class="vulinlog">
                    <input onchange="readURL(this);" class="custom-file-upload" type = "file" name = "file" accept="image/*"/>
                    <i class="fa fa-cloud-upload"></i> Give your group a profile picture
                </label>


            <div class="form-group">
                <input class="vulinlog" autocomplete="off" autofocus class="form-control" name="name_group" placeholder="Name your group" type="text"/>
            </div>
                <!--<input type = "submit"/>-->
            <div class="form-group">
                <button class="vulinlogbevestig" type="submit">Make group <group></group></button>
            </div>

<div clas="gecentreerd">
        <img style="border-radius:20px;" class="gecentreerd" id="goh" src="#" />
</div>


<script>
      function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#goh')
                        .attr('src', e.target.result)
;
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

</script>

     <style>
        input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

       </style>




        </fieldset>
        </div>
    </form>
{% endblock %}
