{% extends "layout.html" %}

{% block title %}
    Make group
{% endblock %}

{% block main %}
    <form action="{{ url_for('makegroup') }}" method="post">
        <br>
        <br>
        <div class="container">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="name_group" placeholder="Name group" type="text"/>
            </div>
            <title>Upload new File</title>
            <h1>Upload new File</h1>
            <form method=post enctype=multipart/form-data>
              <p><input type=file name=file>
                 <input type=submit value=Upload>
            </form>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Make <group></group></button>
            </div>
        </fieldset>
        </div>
    </form>
{% endblock %}
