{% extends "layout.html" %}

{% block title %}
    Make event
{% endblock %}

{% block main %}
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#goh').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<style>
    input[type="file"] {
        display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    color: black;
}
</style>
<form action="{{ url_for('makeevent') }}" method="post" enctype = "multipart/form-data" style="font-family:Rubik Mono One;">
    <br><br>
    <div class="container">
        <fieldset>
            <title>Upload new File</title>
            <h1 style="color:white;">Make a new event</h1>
            <label class="vulinlogbevestig">
                <input onchange="readURL(this);" class="custom-file-upload" type = "file" name = "file" accept="image/*" required/>
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> Give your event a profile picture
            </label>
            <div class="form-group">
                <input class="vulinlog" autocomplete="off" autofocus class="form-control" name="makeevent" placeholder="Name your event" type="text"/>
            </div>
            <div class="form-group">
                <button class="vulinlogbevestig" type="submit">Make event <event></event></button>
            </div>
            <div clas="gecentreerd">
                <img  class="gecentreerd" id="goh" src="#" />
            </div>
        </fieldset>
    </div>
</form>
{% endblock %}