{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<style>
    input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>
<script>
    function get_event(pass_to_python)
    {
        var giphyURL = document.getElementById("here_is_gif").src;
        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host;
        var url = baseUrl + '/eventfeed?value=' +pass_to_python;
        return window.open(url, "_self");
    }
</script>
<form action="{{ url_for('noevent') }}" method="post" enctype = "multipart/form-data" style="font-family:Rubik Mono One;">
    <br><br><div class="container">
        <fieldset>
            <title>You have no events yet...</title>
            <h1 style="color:white;">You have no events yet...</h1>
        <div class="form-group">
            <div id="vulinlogbevestig"><a style="color:white" id="vulinlogbevestig" href="makeevent">Make your first event here!</a></div>
        </div>
    </fieldset>
    </div>
</form>
{% endblock %}