{% extends "layout.html" %}

{% block title %}
    Eventfeed
{% endblock %}

{% block main %}
<style>
    input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
</style>
<form action="{{ url_for('nogroup') }}" method="post" enctype = "multipart/form-data" style="font-family:Rubik Mono One;">
    <br><br><div class="container">
        <fieldset>
            <title>You have no groups yet...</title>
            <h1 style="color:white;">You have no groups yet...</h1>
            <div class="form-group">
                <div id="vulinlogbevestig"><a style="color:white;" id="vulinlogbevestig" href="makegroup">Make your first group here!</a></div>
            </div>
        </fieldset>
    </div>
</form>
{% endblock %}