{% extends "layout.html" %}

{% block title %}
    Password
{% endblock %}

{% block main %}
<p>
    <p>

    </p>
</p>
    <form action="{{ url_for('password') }}" method="post" class="gecentreerd">
        <fieldset>
            <div class="form-group">
                <input class="vulinlog" name="newpassword" placeholder="New password" type="password"/>
            </div>
            <div class="form-group">
                <input class="vulinlog" name="newconfirmation" placeholder="Confirm new password" type="password"/>
            </div>
            <div class="form-group">
                <button class="vulinlogbevestig" type="submit">Change your password</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
