{% extends "layout.html" %}

{% block title %}
    profilepicture
{% endblock %}

{% block main %}
<form action="{{ url_for('profilepicture') }}" method="post" enctype="multipart/form-data">
<div class="container">
        <fieldset>
            <div class="partofgroup">
            <h1><font size="+15">Send us your best picture!</fontsize></h1>
            </div>
            <br>
            <br>
            <br>
            <br>
        </fieldset>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>


    <strong>Files:</strong><br>
    <input id="file-picker" type="file" name="file" accept="image/*" multiple>
    <div id="msg"></div>
    <input type="submit" value="Upload!" id="upload-button">
</form>

{% endblock %}



