{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}
    <div class="partofgroup">
        <h1><font size="+15">Settings</fontsize></h1>

            <ul style="partofgroup2">
              <li><a href="{{url_for('password') }}">Change password</a></li>
              <li><a href="{{url_for('profilepicture') }}">Change profile picture</a></li>
              <li><a href="{{url_for('aboutus') }}">General</a></li>
              <li><a href="{{url_for('logout') }}">Log out</a></li>
            </ul>


        </div>
    <div class="laptop">
      <img src="{{url_for('static', filename='laptop.png')}}">
    </div>

{% endblock %}


