{% extends "layout.html" %}

{% block title %}
    Settings
{% endblock %}

{% block main %}

<style>
    #partofgroup2 a { padding:15px; font-weight:bold; float:left; }
    #partofgroup2 a:link { color:#d0d0d0; background-color:#0000a0; }
    #partofgroup2 a:visited { color:#c0c0c0; background-color:#0000a0; }
    #partofgroup2 a:hover { color:#ffffff; background-color:#000060; }
    #partofgroup2 a:active { color:#f0f0f0; background-color:#00ff00; }
</style>

    <div class="laptop">
      <img src="{{url_for('static', filename='laptop.png')}}">
    </div>

    <div class="partofgroup">
        <h1><font size="+10">Settings</fontsize></h1>

            <ul style="partofgroup2">
              <li><a style="color: white" href="{{url_for('password') }}"><font size="5">Change password</font></a></li>
              <li><a style="color: white" href="{{url_for('profilepicture') }}"><font size="5">Change profile picture</font></a></li>
              <li><a style="color: white" href="{{url_for('aboutus') }}"><font size="5">General</font></a></li>
              <li><a style="color: white" href="{{url_for('logout') }}"><font size="5">Log out</font></a></li>
            </ul>


        </div>


{% endblock %}


