{% extends "layout.html" %}

{% block title %}
    settings
{% endblock %}

{% block main %}
  <body>
    <div class="partofgroup">
        <h1><font size="+15">Settings</fontsize></h1>
    </div>


            <ul style="partofgroup2">
              <a href="{{url_for('password') }}">Change password</a>
              <a href="{{url_for('profilepicture') }}">Profile Picture</a>
              <a href="{{url_for('aboutus') }}">General</a>
              <a href="{{url_for('logout') }}">Log out</a>
            </ul>


        </div>
    <div class="laptop">
      <img src="{{url_for('static', filename='laptop.png')}}">
    </div>
  </body>

{% endblock %}



