{% extends "layout.html" %}

{% block title %}
    Make group
{% endblock %}

{% block main %}
<script>
    function get_group(pass_to_python) {
        // var pass_to_python = document.getElementById("group").value;
        var url = 'https://ide50-gi-no.legacy.cs50.io:8080/groupview?value='+pass_to_python;
        return window.open(url, "_self");
    }
    </script>


    <form action="{{ url_for('upload_photo') }}" method="post" enctype = "multipart/form-data">
        <br>
        <br>
        <div class="container">
        <fieldset>
            <h1>Upload picture</h1>
            <div class="form-group">
                <input type = "file" name = "file" accept="image/*" />
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="comment" placeholder="Comment" type="text" height="10%" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit" >Upload Photo <group></group></button>

            </div>
        </fieldset>
        </div>
    </form>
    <input type="button" id="group" value="Share Photo" onclick="get_group('{{ groupname}}')"/>
{% endblock %}